.GameContainer {
    position: relative;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 50%;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.parent button {
    padding: 10px;
    font-size: 2rem;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
    margin-top: 1rem;
}

.parent button:disabled {
    background-color: rgba(30, 144, 255, 0.7);
    cursor: auto;
}

@media screen and (orientation: landscape) {
    .GameContainer {
        width: 80%;
        justify-content: center;
    }
}